<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
   <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
     .navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-default .navbar-brand{
color: #fbfbfb;
}
.navbar-toggle {
    z-index:3;
}
    .form {
  position:relative;
  z-index:1;
  
  max-width:360px;
  text-align:center;
  box-shadow:0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
  border-radius:5px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  -khtml-border-radius:10px;
  margin:0 auto 100px;
  padding:45px;
}

.form input,select,input[type="text"]{
  font-family:Consolas;
  outline:0;
  width:100%;
  border:0;
  box-sizing:border-box;
  font-size:14px;
  margin:0 0 15px;
  padding:15px;
}

.form .btn {
  font-family:Consolas;
  text-transform:uppercase;
  outline:0;

  width:100%;
  border:0;
  
  font-size:14px;
  -webkit-transition:all 0.3 ease;
  transition:all 0.3 ease;
  cursor:pointer;
  padding:15px;
}

.form .button:hover,.form .button:active,.form .button:focus {
  background:#43A047;
}

.form .message {
  
  font-size:13px;
  margin:15px 0 0;
}

.form .message a {
  
  text-decoration:none;
}

.form .register-form {
  display:block;
}

.container {
  position:relative;
  z-index:1;
  max-width:300px;
  margin:0 auto;
}

.container:before,.container:after {
  content:"";
  display:block;
  clear:both;
}


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
